@charset "UTF-8";

header.header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.header h1{
	font-family: BTTF;
	width: 100%;
	font-size: 50px;
	color: var(--orange);
	margin-top:14px;
	margin-right: 50px;
	text-align: center;
}

#personagens{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
	padding-top:50px;
}

@media (max-width: 720px){
	.header h1{
		font-size:2em;
	}
}